<div align="center" style="background:#3EA1F0">

  <div style="font-size:4em;color:white">Car Details</div><hr>

  <div class="container" style="background:#E0E0D1">
  <br><br><br>
    <mat-form-field>
      <input id="U" matInput placeholder="Enter CarName">
    </mat-form-field>
    <BR>
    <mat-form-field>
      <input id="P" matInput placeholder="Enter Type">
    </mat-form-field>
    <BR>
    <mat-form-field>
      <input id="U" matInput placeholder="Enter color">
    </mat-form-field>
    <BR>
    <mat-form-field>
      <input id="U" matInput placeholder="Enter CatNumber" required>
    </mat-form-field>
    <BR>
    <mat-form-field>
      <input id="U" type="number" matInput placeholder="Enter Car Seats">
    </mat-form-field>
    <br><br><br>
    <div class="button-row">
      <button mat-raised-button>Submit</button>
    </div>
    <br><br><br>
  </div>
  <hr><br>
</div>
