<div align="center" style="background:#3EA1F0">

  <div style="font-size:4em;color:white">Login Form</div><hr>

  <div class="container" style="background:#E0E0D1">
  <br><br><br><br>
    <mat-form-field>
      <input id="U" matInput placeholder="Enter UserName">
    </mat-form-field>
    <BR>
    <mat-form-field>
      <input id="P" type="password" matInput placeholder="Enter Password">
    </mat-form-field>
    <br><br><br><br>
    <div class="button-row">
      <button mat-raised-button (click)="save()">Submit</button>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>
  <hr><br><hr>
</div>
